<div class="eight columns" id="content">
</div>
<div class="four columns">
  <form>
    <fieldset>
      <legend>W00f!</legend>

      <input type="text" placeholder="Писать сюда...">

      <a class="success round button" href="#" id="submit">Тыкать сюда</a>
      <a class="alert round button" href="#" id="reload">Перезапуск говнища</a>
    </fieldset>
  </form>
</div>
